body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222;
  overflow: hidden;
}

img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide {
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 1.5rem;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* opacity: 0; */
  transition: all ease 1s, left ease 0s;
}

.slide::before {
  content: "PREVIOUS";
  position: absolute;
  top: 50%;
  left: calc(100% - 140px);
  color: #fff;
  font-weight: bold;
  transform: rotate(-90deg) translateY(-50%);
  font-size: 2rem;
  visibility: hidden;
}

.slide::after {
  content: "NEXT";
  position: absolute;
  top: 50%;
  left: 10px;
  color: #fff;
  font-weight: bold;
  transform: rotate(90deg) translateY(-50%);
  font-size: 2rem;
  visibility: hidden;
}

input {
  display: none;
}

#s1:checked ~ .slider .slide[for=s1],
#s2:checked ~ .slider .slide[for=s2],
#s3:checked ~ .slider .slide[for=s3],
#s4:checked ~ .slider .slide[for=s4],
#s5:checked ~ .slider .slide[for=s5] {
  width: 100%;
  height: 100vh;
  left: 50% !important;
  cursor: default;
  opacity: 1;
  transition: all ease 1s;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 99;
  color: #fff;
  font-size: 5rem;
  opacity: 0;
  transition: opacity 1s ease;
}

#s1:checked ~ .textarea .text:nth-child(1),
#s2:checked ~ .textarea .text:nth-child(2),
#s3:checked ~ .textarea .text:nth-child(3),
#s4:checked ~ .textarea .text:nth-child(4),
#s5:checked ~ .textarea .text:nth-child(5) {
  opacity: 1;
  transform: translate(-50%, -50%);
  z-index: 99;
}

#s1:checked ~ .slider .slide[for=s5],
#s2:checked ~ .slider .slide[for=s1],
#s3:checked ~ .slider .slide[for=s2],
#s4:checked ~ .slider .slide[for=s3],
#s5:checked ~ .slider .slide[for=s4] {
  left: 0 !important;
  top: 50%;
  z-index: 2;
  opacity: 1;
  transition: all 1s ease;
}
#s1:checked ~ .slider .slide[for=s5]:hover,
#s2:checked ~ .slider .slide[for=s1]:hover,
#s3:checked ~ .slider .slide[for=s2]:hover,
#s4:checked ~ .slider .slide[for=s3]:hover,
#s5:checked ~ .slider .slide[for=s4]:hover {
  transform: translate(-25%, -50%);
}
#s1:checked ~ .slider .slide[for=s5]::before,
#s2:checked ~ .slider .slide[for=s1]::before,
#s3:checked ~ .slider .slide[for=s2]::before,
#s4:checked ~ .slider .slide[for=s3]::before,
#s5:checked ~ .slider .slide[for=s4]::before {
  visibility: visible;
}

#s1:checked ~ .slider .slide[for=s2],
#s2:checked ~ .slider .slide[for=s3],
#s3:checked ~ .slider .slide[for=s4],
#s4:checked ~ .slider .slide[for=s5],
#s5:checked ~ .slider .slide[for=s1] {
  left: 100% !important;
  top: 50%;
  z-index: 2;
  opacity: 1;
  transition: all 1s ease;
}
#s1:checked ~ .slider .slide[for=s2]:hover,
#s2:checked ~ .slider .slide[for=s3]:hover,
#s3:checked ~ .slider .slide[for=s4]:hover,
#s4:checked ~ .slider .slide[for=s5]:hover,
#s5:checked ~ .slider .slide[for=s1]:hover {
  transform: translate(-75%, -50%);
}
#s1:checked ~ .slider .slide[for=s2]::after,
#s2:checked ~ .slider .slide[for=s3]::after,
#s3:checked ~ .slider .slide[for=s4]::after,
#s4:checked ~ .slider .slide[for=s5]::after,
#s5:checked ~ .slider .slide[for=s1]::after {
  visibility: visible;
}/*# sourceMappingURL=style.css.map */